<div class="collection-item">
  <a href="{{ collections[collection_handle].url }}" class="collection-item__link">
    {%- if collection == blank -%}
      {%- assign collection_title = 'home_page.onboarding.collection_title' | t -%}
    {%- else -%}
      {%- assign collection_title = collections[collection_handle].title | escape -%}
    {%- endif -%}
    {%- if collection.image -%}
      {%- assign collection_image = collection.image -%}
    {%- elsif collection.products.first and collection.products.first.featured_media != empty -%}
      {%- assign collection_image = collection.products.first.featured_media.preview_image -%}
    {%- else -%}
      {%- assign collection_image = blank -%}
    {%- endif -%}
    {%- if collection == blank -%}
      {% capture current %}{% cycle 1, 2, 3, 4, 5, 6 %}{% endcapture %}
      <div class="collection-item__placeholder">{{ 'collection-' | append: current | placeholder_svg_tag: 'placeholder-svg' }}</div>
    {%- else -%}
      <div class="collection-item__image">
        <img class="collection-item__img lazyload"
          {% unless collection_image == blank %}
            {%- assign img_url = collection_image | img_url: '' -%}
            src="{{ img_url }}"
            alt="{{ collection_image.alt | escape }}"
          {% endunless %}
          data-widths="[180, 370, 590, 740, 900, 1080, 1296, 1512, 1728, 2048]"
          data-sizes="auto"
          data-image>
      </div>
    {% endif %}
    <div class="collection-item__title">{{ collection_title }}</div>
  </a>
</div>
