<div class="toast ajaxcart-toast fade hide" role="alert" aria-live="assertive" aria-atomic="true" data-delay="2000">
  <button type="button" class="ajaxcart-toast__close close" data-dismiss="toast" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
  <div class="toast-body"></div>
</div>

{%- if settings.cart_type == 'drawer' -%}
  <div class="drawer__overlay js-drawer-close"></div>
  <div class="js-drawer drawer drawer--right drawer--has-fixed-footer">
    <div class="drawer__header">
      <div class="drawer__title">{{ 'cart.general.title' | t }}</div>
      <button type="button" class="drawer__close-button js-drawer-close">
        {% include 'svg-definitions' with 'close' %}
      </button>
    </div>
    <div class="drawer__inner">
      <div class="ajaxcart-container" data-cart-container></div>
    </div>
  </div>
{%- endif -%}

{%- if settings.scroll_to_top -%}
  <div class="js-scroll-to-top scroll-to-top">
    <i class="feather-chevron-up"></i>
  </div>
{%- endif -%}

{%- if settings.cookie_consent_enable -%}
  <div class="cookie-consent" role="dialog" aria-label="cookieconsent"
    style="background-color: {{ settings.cookie_consent_bg }}; color: {{ settings.cookie_consent_color }};">
    <div class="cookie-consent__wrapper">
      <div class="cookie-consent__message">{{ settings.cookie_consent_message }}</div>
      <div class="cookie-consent__dismiss">
        <button class="cookie-consent-dismiss btn btn-dismiss" type="button">{{ settings.cookie_consent_button | escape }}</button>
      </div>
    </div>
  </div>
{%- endif -%}

{%- if settings.newsletter_popup_enable -%}
	<div class="js-newsletter-popup newsletter-popup">
		<div class="js-newsletter-popup-close newsletter-popup__overlay"></div>
		<div class="newsletter-popup__inner">
			<button class="js-newsletter-popup-close newsletter-popup__close" type="button">
			</button>
			{%- if settings.newsletter_popup_image -%}
				<div class="image">
					<img class="newsletter-popup__image" src="{{ settings.newsletter_popup_image | img_url: 'master' }}" alt="{{ settings.newsletter_popup_image.alt | escape }}"/>
				</div>
			{%- endif -%}
			<div class="newsletter-popup__content">
				<div class="newsletter-popup__content-inner">
					<div class="title-newsletter">{{ settings.newsletter_popup_title }}</div>
					<div class="text-newsletter">{{ settings.newsletter_popup_subtitle }}</div>
					{%- if settings.newsletter_popup_form -%}
						{%- assign mailchimp = settings.newsletter_popup_mailchimp -%}
						{%- assign mailchimp_action = settings.newsletter_popup_form_action | replace: '/post?', '/post-json?' | append: '&amp;c=?' -%}
						{%- if mailchimp -%}
							<form class="js-wpbingo-newsletter" action="{{ mailchimp_action }}" method="post" name="mc-embedded-subscribe-form" target="_blank">
								<div class="newsletter-form__wrap">
									<input class="js-input-newsletter form-control newsletter-form__input" type="email" name="EMAIL"
										value="{% if customer %}{{ customer.email }}{% endif %}"
										placeholder="{{ 'general.newsletter_form.newsletter_placeholder' | t }}" required />
									<button class="btn newsletter-form__submit" type="submit">
										<span>{{ 'general.newsletter_form.submit' | t }}</span>
									</button>
								</div>
							</form>
						{%- else -%}
							{% form 'customer' %}
								{{ form.errors | default_errors }}
								{%- if form.posted_successfully? -%}
									<div class="js-newsletter-popup-success alert alert-success">{{ 'general.newsletter_form.newsletter_confirmation' | t }}</div>
								{%- else -%}
									<input type="hidden" name="contact[tags]" value="newsletter">
									<div class="newsletter-form__wrap">
										<input value="{% if customer %}{{ customer.email }}{% endif %}"
											placeholder="{{ 'general.newsletter_form.newsletter_placeholder' | t }}"
											name="contact[email]" class="form-control newsletter-form__input" type="email" 
											autocorrect="off"
											autocapitalize="off"/>
										<button class="js-newsletter-popup-submit btn newsletter-form__submit" type="submit">
											<span>{{ 'general.newsletter_form.submit' | t }}</span>
										</button>
									</div>
								{%- endif -%}
							{% endform %}
						{%- endif -%}
					{%- endif -%}
				</div>
			</div>
		</div>
	</div>
{%- endif -%}

{%- if settings.quickview_enable -%}
  <div class="quickview"
    data-quickview
    data-stock-show="{{ settings.quickview_availability }}"
    data-type-show="{{ settings.quickview_protype }}"
    data-vendor-show="{{ settings.quickview_vendor }}"
  >
    <div class="quickview__overlay" data-quickview-close></div>
    <div class="quickview__content {{ settings.style_option }}">
      <button type="button" class="quickview__btn-close" data-quickview-close>
        {% include 'svg-definitions' with 'close' %}
      </button>
      <div data-quickview-container></div>
    </div>
  </div>
{%- endif -%}

{%- if settings.cart_type == 'modal' -%}
<script id="ajaxcart-header-template" type="text/template">
	{% raw %}
    <div class="js-cart-modal cart-modal">
		<div class="js-cart-modal-close cart-modal__overlay"></div>
		<div class="cart-modal__inner">
	{% endraw %}
			<a class="js-cart-modal-close cart-modal__close" href="javascript:void(0)">
				{% include 'svg-definitions' with 'close' %}
			</a>
			<div class="cart-modal__product">
				<div class="cart-modal__messenger">{{ 'cart.general.added_to_cart' | t }}</div>
				{% raw %}<img class="img-fluid" alt="{{name}}" src="{{image}}"/>{% endraw %}
				{% raw %}<div class="cart-modal__name">{{name}}</div>{% endraw %}
				<div class="modalcart__price">
					<label>{{ 'cart.general.price' | t }}</label>
					{% raw %}{{final_price}}{% endraw %}
				</div>
				<div class="modalcart__quantity">
					<label>{{ 'cart.general.quantity' | t }}</label>
					{% raw %}{{quantity}}{% endraw %}
				</div>
				<div class="modalcart__line_price">
					<label>{{ 'cart.general.product_total' | t }}</label>
					{% raw %}{{final_line_price}}{% endraw %}
				</div>
			</div>
			<div class="cart-modal__content">
				<div class="cart-modal-totalcount">{{ 'cart.general.cart_modal_count1' | t }} <span>{{ cart.item_count }}</span>{{ 'cart.general.cart_modal_count2' | t }}</div>
				<div class="cart-modal-totalprice">{{ 'cart.general.cart_total' | t }}<span>{{ cart.total_price | money }}</span></div>
				<form action="{{ routes.cart_url }}" method="post" novalidate class="ajaxcart">
					<div class="cart-modal__funcs">
						<button class="btn cart-modal__btn cart-modal__btn--viewcart" type="submit">
							{{ 'cart.general.viewcart' | t }}
						</button>
						<button class="btn cart-modal__btn cart-modal__btn--checkout" type="submit" name="checkout">
							{{ 'cart.general.checkout' | t }}
						</button>
					</div>
				</form>
			</div>
	{% raw %}
			<div class="cart-modal-recommendations"></div>
		</div>
    </div>
	{% endraw %}		
</script>
{%- endif -%}
<script id="ajaxcart-template" type="text/template">
{% raw %}
<form action="{% endraw %}{{ routes.cart_url }}{% raw %}" method="post" novalidate class="cart ajaxcart ajaxcart--header">
    <div class="ajaxcart__inner">
		{{#items}}
		<div class="ajaxcart__product" data-line="{{line}}">
			<div class="ajaxcart__line-item">
				<div class="ajaxcart__line-item--left">
					<div class="ajaxcart__product-image-wrapper">
						<a href="{{url}}" class="ajaxcart__product-image"><img src="{{img}}" alt="{{name}}"></a>
						{% endraw %}{% if settings.cart_notes_enable and settings.cart_type == 'modal' %}{% raw %}
							<span class="ajaxcart__quantity">{{itemQty}}</span>
						{% endraw %}{% endif %}{% raw %}
					</div>
				</div>
				<div class="ajaxcart__line-item--right">
					<div class="ajaxcart__product-description">
						<div class="ajaxcart__product-name-wrapper">
							<a href="{{url}}" class="ajaxcart__product-name">{{{name}}}</a>
							{{#if variation}}
								<span class="ajaxcart__product-meta">{{variation}}</span>
							{{/if}}
							{{#properties}}
								{{#each this}}
									{{#if this}}
										<span class="ajaxcart__product-meta">{{@key}}: {{this}}</span>
									{{/if}}
								{{/each}}
							{{/properties}}
							{% endraw %}{% if settings.cart_type == 'drawer' %}{% raw %}
							  <div class="drawer__quantity">
									<div class="ajaxcart__qty wpbingo-qty">
									  <button type="button" class="ajaxcart__qty-adjust ajaxcart__qty--minus wpbingo-qty__adjust wpbingo-qty__adjust--minus" data-id="{{key}}" data-qty="{{itemMinus}}" data-line="{{line}}" aria-label="{% endraw %}{{ 'cart.general.reduce_quantity' | t }}{% raw %}">
											<i class="feather-minus" aria-hidden="true"></i>
									  </button>
									  <input type="text" name="updates[]" class="ajaxcart__qty-num wpbingo-qty__number" value="{{itemQty}}" min="0" data-id="{{key}}" data-line="{{line}}" aria-label="quantity" pattern="[0-9]*">
									  <button type="button" class="ajaxcart__qty-adjust ajaxcart__qty--plus wpbingo-qty__adjust wpbingo-qty__adjust--plus" data-id="{{key}}" data-line="{{line}}" data-qty="{{itemAdd}}" aria-label="{% endraw %}{{ 'cart.general.increase_quantity' | t }}{% raw %}">
											<i class="feather-plus" aria-hidden="true"></i>
									  </button>
									</div>
							  </div>
							{% endraw %}{% endif %}{% raw %}
							{{#if discountsApplied}}
								<ul class="product-discount product-discount--ajax-cart" aria-label="{% endraw %}{{ 'customer.order.discount' | t }}{% raw %}">
									{{#each discounts}}
										<li class="product-discount__item">
											<span class="fa fa-tag" aria-hidden="true"></span>{{ this.discount_application.title }} (-{{{ this.formattedAmount }}})
										</li>
									{{/each}}
								</ul>
							{{/if}}
							<a class="ajaxcart__remove" href="javascript:void(0)" data-line="{{line}}" data-cart-remove>{% endraw %}{% include 'svg-definitions' with 'close' %}{% raw %}</a>
						</div>
						<div class="ajaxcart__product-price-wrapper">
							{{#if discountsApplied}}
								<del class="ajaxcart__price ajaxcart__price--regular">{{{price}}}</del>
								<span class="ajaxcart__price ajaxcart__price--sale">{{{discountedPrice}}}</span>
							{{else}}
								<span class="ajaxcart__price">{{{price}}}</span>
							{{/if}}
							{{#if unitPrice}}
								<span class="d-none">{% endraw %}{{ 'products.general.unit_price' | t }}{% raw %}</span>
								<span class="cart__unit-price">
									{% endraw %}
										{%- capture unit_price_separator -%}
											<span aria-hidden="true">/</span><span class="d-none">&nbsp;{{ 'general.accessibility.unit_price_separator' | t }}&nbsp;</span>
										{%- endcapture -%}
									{% raw %}
									<span>{{{ unitPrice.price }}}</span>{% endraw %}{{- unit_price_separator -}}{% raw %}{{#if unitPrice.addRefererenceValue }}{{{ unitPrice.reference_value }}}{{/if}}{{{ unitPrice.reference_unit }}}
								</span>
							{{/if}}
						</div>
					</div>
				</div>
			</div>
		</div>
		{{/items}}
    </div>
    <div class="ajaxcart__footer">{% endraw %}
		{% if settings.cart_type == 'drawer' %}
			{{ checkout.total_price | money }}
			<div class="ajaxcart__info">
				<div class="ajaxcart__info_header">
					{% if settings.cart_notes_enable %}
						<div class="button_note"><i class="feather-calendar"></i><span>{{ 'cart.general.button_note' | t }}</span></div>
					{% endif %}
					{% if settings.cart_coupon_enable %}
						<div class="button_discount"><i class="feather-percent"></i><span>{{ 'cart.general.button_discount' | t }}</div>
					{% endif %}
					{% if settings.cart_shipping_enable %}
						<div class="button_shiping"><i class="feather-truck"></i><span>{{ 'cart.general.button_shiping' | t }}</div>
					{% endif %}
				</div>
				<div class="ajaxcart__info_content">
					{% if settings.cart_coupon_enable %}
						{% include 'discount-code' %}
					{% endif %}
					{% if settings.cart_notes_enable %}
						{% raw %}
							<div class="ajaxcart__note">
								<label class="ajaxcart__note-label">{% endraw %}{{ 'cart.general.note' | t }}{% raw %}</label>
								<textarea name="note" class="ajaxcart__note-input form-control">{{note}}</textarea>
								{% endraw %}
								<div class="save save-ajaxcart__note">{{ 'cart.general.save_button' | t }}</div>
								<div class="close-ajaxcart__info">{{ 'cart.general.close_button' | t }}</div>
								{% raw %}
							</div>
						{% endraw %}
					{% endif %}
				</div>
			</div>
		{% endif %}
		{% raw %}
		{{#if cartDiscountsApplied}}
			<div class="ajaxcart__footer-discount">
				{{#each cartDiscounts}}
					<div class="order-discount order-discount--ajax-cart">
						<i class="fa fa-tag" aria-hidden="true"></i>
						<span class="d-none">{% endraw %}{{ 'customer.order.discount' | t }}{% raw %}:</span> {{ this.title }}
					</div>
					<div class="order-discount__value text-right">
						<span class="ajaxcart__price">-{{{ this.formattedAmount }}}</span>
					</div>
				{{/each}}
			</div>
		{{/if}}
		<div class="ajaxcart__footer-price">
			<span class="ajaxcart__subtotal-name">{% endraw %}{{ 'cart.general.subtotal' | t }}{% raw %}</span>
			<span class="ajaxcart__subtotal">{{{totalPrice}}}</span>
		</div>
		<p class="ajaxcart__policies">{% endraw %}
			{%- capture taxes_shipping_checkout -%}
				{%- if shop.taxes_included and shop.shipping_policy.body != blank -%}
					{{ 'cart.general.taxes_included_and_shipping_policy_html' | t: link: shop.shipping_policy.url }}
				{%- elsif shop.taxes_included -%}
					{{ 'cart.general.taxes_included_but_shipping_at_checkout' | t }}
				{%- elsif shop.shipping_policy.body != blank -%}
					{{ 'cart.general.taxes_and_shipping_policy_at_checkout_html' | t: link: shop.shipping_policy.url }}
				{%- else -%}
					{{ 'cart.general.taxes_and_shipping_at_checkout' | t }}
				{%- endif -%}
			{%- endcapture -%}
			{{ taxes_shipping_checkout }}
		</p>
		<div class="ajaxcart__footer-buttons">
			<button class="btn cart-modal__btn cart-modal__btn--viewcart" type="submit">
				{{ 'cart.general.viewcart' | t }}
			</button>
			<button class="btn cart-modal__btn cart-modal__btn--checkout" type="submit" name="checkout">
				{{ 'cart.general.checkout' | t }}
			</button>
		</div>{% raw %}
    </div>
	{% endraw %}{% if settings.cart_type == 'drawer' %}{% include 'shipping-calculator' %}{% endif %}{% raw %}
</form>
{% endraw %}
</script>
<script id="quickview-template" type="text/template">
{% raw %}
	<div class="product-quickview">
		<div class="row">
			<div class="img-quickview">
				<div class="product-quickview__images">
					<div class="quickview-images">{{{images}}}</div>
				</div>
			</div>
			<div class="bwp-single-info">
				<div class="content_product_detail">
					<div class="product-review">
						<div class="shopify-product-reviews-badge" data-id="{{id}}" data-quickview-review></div>
					</div>
					<h2 class="product-quickview_title">{{title}}</h2>
					<div class="product-quickview__price">{{{price}}}</div>
					<div class="product-quickview__description"></div>
					<div class="countdown-quickview"></div>
					<div class="group-quickview"></div>
					<div class="product-quickview__variants wpb-variants-swatch">{{{variants}}}</div>
					{% endraw %}
					<form action="{{ routes.cart_add_url }}" id="form-simple-addtocart" method="post" accept-charset="UTF-8" enctype="multipart/form-data">
						{% raw %}
							<input type="hidden" data-quickview-variant name="id" value="{{variantID}}">
						{% endraw %}
						<div class="product-quickview__avaiable">
							<div class="product-avaiable product-avaiable--active product-avaiable--instock">
								<div class="js-product-avaiable-text product-avaiable__text product-avaiable__text--instock">{{'products.product.in_stock' | t }}</div>
							</div>
							<div class="product-avaiable product-avaiable--outstock">
								<div class="js-product-avaiable-text product-avaiable__text product-avaiable__text--outstock">{{'products.product.out_stock' | t }}</div>
							</div>
						</div>
						<div class="product-quickview__buttons">
							<div class="product-quantity" data-quickview-quantity>
								<label class="product-quantity__label">{{ 'products.product.quantity' | t }}</label>
								<div class="product-quantity__selector">
									{%- if settings.quickview_quantity_selector == 'text' -%}
										<div class="wpbingo-qty">
											<button type="button" class="js-qty-adjust wpbingo-qty__adjust wpbingo-qty__adjust--minus" aria-label="{{ 'cart.general.reduce_quantity' | t }}">
												<i class="feather-minus"></i>
											</button>
											<input type="text" name="quantity" class="js-qty-number wpbingo-qty__number" value="1" min="1" aria-label="quantity" pattern="[0-9]*">
											<button type="button" class="js-qty-adjust wpbingo-qty__adjust wpbingo-qty__adjust--plus" aria-label="{{ 'cart.general.increase_quantity' | t }}">
												<i class="feather-plus"></i>
											</button>
										</div>
									{%- else -%}
									<select name="quantity" class="product-quantity__select">
										{%- for i in (1..10) -%}
											<option {% if forloop.first %}selected="selected"{% endif %} value="{{ i }}">{{ i }}</option>
										{%- endfor -%}
									</select>
									{%- endif -%}
								</div>
							</div>
							<div class="product-single__add-to-cart">
								<button class="btn btn--add-to-cart" type="submit" name="add">
									<span class="btn__text">{{ 'products.product.add_to_cart' | t }}</span>
								</button>
							</div>
						</div>
						<div class="product-quickview__buttons_external"></div>
					</form>
				</div>
			{% raw %}
			</div>
		</div>
	</div>
{% endraw %}
</script>
