<header  id="{{ section.id }}" data-section-id="{{ section.id }}" data-section-type="header-section" data-header-section>
  <div class="header">
  	<div class="header__container center center--wide">
     
      
      {% if section.settings.header_logo != blank %}
          <a href="{{ shop.url }}" class="header__logo">
            <img src="{{ section.settings.header_logo | img_url: 'master' }}" alt="logo" width="163" height="39"/>
          </a>			
      {% else %}
       	
        {% if section.settings.header_logo__svg != blank %}

          <a href="{{ shop.url }}" class="header__logo">
            {{ section.settings.header_logo__svg }}
          </a>

        {% else %}
        
          <a href="{{ shop.url }}" class="header__logo">
            <div class="brand">{{ section.settings.header_logo_brand}}</div>
            <div class="slogan">
              {{ section.settings.header_logo_slogan}}
              <span></span>
            </div>
          </a>

        {% endif %}
      
          
      {% endif %}

      <div class="header__menu">
        <div class="dismiss" data-dismiss="menu"></div>
        
        
        {% if section.settings.main_menu %}
        	{% if linklists[section.settings.main_menu_linklist] != blank %}
        		{% include 'site-nav', is_mainmenu: true, linklist: section.settings.main_menu_linklist %}        		
        	{% endif %}
        {% endif %}
        
        {% if section.settings.main_menu %}
        {% include 'header-menu' %}
        {% endif %}
        

        <div class="header__actions">
           
          {% include 'header-currency' %}

          {% include 'header-search' %}
        
          <div class="header__action" data-trigger="user">
            <svg class="svg-icon">
              <use xlink:href="#svg-user"></use>
            </svg>
          </div>
          
          {% if settings.hide_wishlist == false %}
            <a href="/pages/wishlist" id="wishlist-total" title="" class="header__action" data-trigger="favorites">
              <svg class="svg-icon">
                <use xlink:href="#svg-favorites"></use>
              </svg>
            </a>        
          {% endif %}

        </div>
      </div>
      
    
      <div class="header__actions header__actions--mobile">
         {% include 'header-cart'%}           
        
        <div class="menu-burger">
          <svg data-action="sidebar" x="0px" y="0px" width="32px" height="32px" viewBox="0 0 32 32">
            <line stroke="#222" stroke-width="2" stroke-linecap="round" stroke-miterlimit="10" x1="4" y1="9" x2="28" y2="9"></line>
            <line stroke="#222" stroke-width="2" stroke-linecap="round" stroke-miterlimit="10" x1="4" y1="16" x2="28" y2="16"></line>
            <line stroke="#222" stroke-width="2" stroke-linecap="round" stroke-miterlimit="10" x1="4" y1="23" x2="28" y2="23"></line>
          </svg>
        </div>
      </div>


    </div>							
  </div>
  <div class="header__overlay"></div>
</header> 


{% schema %}
{
	"name": "Header",
	"settings": [
		{
            "type": "header",
            "content": "Header elements"
        },		
        {
            "type": "image_picker",
            "id": "header_logo",
            "label": "Logo"
        },
        {
          "type": "textarea",
          "id": "header_logo_svg",
          "label": "SVG icon / HTML"
        },
        {
            "type": "text",
            "id": "header_logo_brand",
            "label": "Text",
            "default": "Brand name"
        },
        {
            "type": "text",
            "id": "header_logo_slogan",
            "label": "Text",
            "default": "Brand slogan"
        },
        {
            "type": "checkbox",
            "id": "main_menu",
            "label": "Enable main menu",
            "default": true
        },
        {
            "type": "link_list",
            "id": "main_menu_linklist",
            "label": "Main menu"
        },
        {
            "type": "checkbox",
            "id": "top_currency",
            "label": "Enable currency switcher",
            "default": true
        },
        {
            "type": "checkbox",
            "id": "top_language",
            "label": "Enable language switcher",
            "default": true
        }
   ]
}
{% endschema %}